scripts/pixels/
.DS_Store
documentation/
invoices/
scripts/osiris_zoo_mark_bentley/
data_reduction/
awesome_examples
images/
comet_north_jbv/
*.pyc
*.psd
*.ppt*
*.key
*.FIT
*.IMG
*.jpg
*.fit
*.img
*.png
*.PNG
*.LBL
*.JPG
*.csv
